:root {
  --xl: 55px;
  --l: 35px;
  --m: 28px;
  --xs: 15px;
  --s: 17px;
  --primary-color: #0866ff;
  --border-color: #ced0d4;
  --primary-border-color: #606770;
  --secondary-border-color: #dadde1;
  --main-background: #fff;
  --primary-background-color: #f2f4f7;
  --secondary-background-color: #e9ebee;
  --quaternary-background-color: #f0f2f5;
  --teritiary-background-color: #42b72a;
  --primary-border-radius: 6px;
  --secondary-border-radius: 8px;
  --box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.5);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;
}
/* login page(main page) */

#login-page-container {
  background-color: var(--primary-background-color);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 121px;
}

.left-side {
  display: flex;
  flex-direction: column;

  h1 {
    color: var(--primary-color);
    font-size: var(--xl);
    padding-bottom: 10px;
  }

  p {
    font-size: var(--m);
    margin-bottom: 45px;
  }
}
.right-side {
  background-color: var(--main-background);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 12px;
  padding: 20px;
  border-radius: var(--primary-border-radius);
  box-shadow: var(--box-shadow);

  input {
    width: 364px;
    border: 1px rgba(0, 0, 0, 0.17) solid;
    padding: 10px 20px;
    border-radius: var(--secondary-border-radius);
    line-height: 2;
    font-size: 17px;
  }
  hr {
    margin: 15px 0;
    border-color: var(--secondary-border-color);
  }
}
#login-btn {
  background-color: var(--primary-color);
  padding: 16px 0;
  border: none;
  font-weight: 700;
  color: var(--main-background);
  border-radius: var(--primary-border-radius);
  font-size: 19px;
}
#forget-password-link {
  text-decoration: none;
  color: var(--primary-color);
  text-align: center;
  margin-top: 10px;
}
#sign-up-btn {
  background: var(--teritiary-background-color);
  padding: 12px 15px;
  border: none;
  align-self: center;
  border-radius: var(--primary-border-radius);
}
button > a {
  text-decoration: none;
  color: var(--main-background);
  font-weight: 600;
  font-size: 18px;
}

/* login page (main page) end */

/* header section of forget password */

#forget-pass-header {
  display: flex;
  justify-content: space-between;
  padding: 10px 30px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.5);
}
.logo {
  color: var(--primary-color);
  font-size: var(--l);
}
.header-right {
  display: flex;
  align-items: center;
  gap: 5px;

  input {
    padding: 15px 10px;
    border-radius: 5px;
    border: 1px solid var(--border-color);
  }
  button {
    background-color: var(--primary-color);
    padding: 15px 10px;
    border: none;
    border-radius: 5px;
    color: white;
  }
  a {
    text-decoration: none;
    color: var(--primary-color);
    font-family: Helvetica, Arial, sans-serif;
  }
}
/* header section of forget password end */

/* singup for facebok */

#Signup-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--quaternary-background-color);
}
.form-container {
  border-radius: var(--primary-border-radius);
  background: var(--main-background);
}
#Signup-logo {
  color: var(--primary-color);
  font-size: var(--xl);
}
.signup-heading {
  background: var(--main-background);
  text-align: center;
  border-bottom: 1px solid var(--primary-border-color);
  margin-top: 20px;
  padding: 16px 90px;
  h5 {
    color: var(--primary-border-color);
    margin-top: 6px;
    font-weight: 400;
    font-size: var(--xs);
  }
}
form {
  padding: 16px;
  background: var(--main-background);
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  input {
    border-radius: var(--primary-border-radius);
    line-height: 16px;
    padding: 11px;
    border: 1px solid var(--border-color);
    font-size: var(--xs);
  }
}

form :nth-child(1) {
  margin-right: 8px;
}
.dob-field {
  h5 {
    font-weight: 400;
    font-size: var(--xs);
    color: var(--primary-border-color);
  }
  select {
    margin-top: 6px;
    padding: 10px 50px 10px 3px;
    font-size: var(--xs);
    margin-right: 18px;
    border-radius: 4px;
    border: 1px solid var(--primary-border-color);
  }
}

/* signup for facebok end */
